@charset "UTF-8";
body {
  font-family: "Noto Sans", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
}

/*PC固定*/
/*pc*/
@media screen and (max-width: 1480px) {
  html {
    font-size: 0.675vw;
  }
}
/*スマホ*/
@media screen and (max-width: 767px) {
  html {
    font-size: 2.666vw;
    /*
    デザインカンプが375PX
      計算式：10(px) / 375(px) * 100 = 2.6666
      画面幅375pxの時に "font-size: 10px" 相当になる
    */
  }
}
.test {
  font-size: 20px;
  color: #4172CE;
}
@media only screen and (max-width: 767.9px) {
  .test {
    font-size: 30px;
    color: red;
    font-weight: bold;
  }
}
@media only screen and (max-width: 374.9x) {
  .test {
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }
}

.inner {
  max-width: 1530px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 1480.9px) {
  .inner {
    max-width: 153rem;
  }
}
@media only screen and (max-width: 767.9px) {
  .inner {
    max-width: 100%;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.pc_only {
  display: inline-block;
}
@media only screen and (max-width: 767.9px) {
  .pc_only {
    display: none;
  }
}

.sp_only {
  display: none;
}
@media only screen and (max-width: 767.9px) {
  .sp_only {
    display: inline-block;
  }
}

.base_btn a {
  width: 300px;
  background: skyblue;
  padding: 1em 2em;
  border-radius: 50vh;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange_btn a,
.blue_btn a {
  min-width: 500px;
  background: linear-gradient(130deg, #E65A24, #F0A53B, #F0A53B);
  padding: 0 2em;
}
@media only screen and (max-width: 767.9px) {
  .orange_btn a,
  .blue_btn a {
    min-width: 100%;
  }
}

.blue_btn a {
  background: linear-gradient(90deg, #4076B0, #70BDD1);
}

.orange_btn-large a {
  max-width: 780px;
  background: linear-gradient(130deg, #E65A24, #F0A53B, #F0A53B);
  padding: 0 2em;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 1480.9px) {
  .orange_btn-large a {
    max-width: 78rem;
  }
}
@media only screen and (max-width: 767.9px) {
  .orange_btn-large a {
    max-width: 28rem;
    font-size: 2.5rem;
  }
}

.header {
  width: 100%;
  height: 100px;
  background-color: lavenderblush;
}
.header .header__inner {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ccc;
  align-items: center;
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1480.9px) {
  .header .header__inner {
    width: 100rem;
    background-color: lightblue;
  }
}
@media only screen and (max-width: 767.9px) {
  .header .header__inner {
    width: 100%;
    background-color: lightcoral;
  }
}
@media only screen and (max-width: 767.9px) {
  .header .header__inner .pc_nav {
    display: none;
  }
}

#hamburger {
  display: none;
}
@media only screen and (max-width: 767.9px) {
  #hamburger {
    display: block;
    position: relative;
    width: 50px;
    height: 45px;
    margin-left: auto;
    background-color: #747272;
  }
}

#hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #fff;
  transform: translateY(-50%);
}

#hamburger::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
}

#hamburger::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #FFF;
  bottom: 0;
  left: 0;
  width: 70%;
}

.sp_nav {
  display: none;
}
@media only screen and (max-width: 767.9px) {
  .sp_nav {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }
}

/*閉じるの前のバツ印を疑似要素を使って作る*/
.close {
  position: relative;
  padding-left: 20px;
}
.close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #FFF;
  transform: rotate(45deg);
}
.close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #FFF;
  transform: rotate(-45deg);
}

.sp_nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sp_nav ul li {
  margin: 0;
  padding: 0;
}

.sp_nav ul li span {
  font-size: 15px;
  color: #fff;
}

.sp_nav ul li span,
.sp_nav ul li a {
  display: block;
  padding: 20px 0;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  z-index: 100;
  display: none;
}

.toggle {
  transform: translateY(0);
  opacity: 1;
}

.triangle_wrapper {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(212, 242, 242);
  height: 300px;
  padding: 50px;
}

.arrowArea {
  padding-top: 100px;
}

.yazirusi {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100px;
  transform: rotate(90deg);
}
.yazirusi::before {
  content: "About";
  position: absolute;
  color: blue;
  font-size: 16px;
  top: -30px;
}

.line01 {
  height: 1px;
  background-color: #000;
}

.line02 {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: right bottom;
  width: 20px;
  height: 1px;
  background-color: #000;
  transform: rotate(45deg);
}

.line_box {
  position: relative;
  width: 300px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 20px;
}
.line_box::after {
  position: absolute;
  content: "/";
  color: #ccc;
  width: 30px;
  font-size: 30px;
  font-weight: normal;
  background-color: rgb(212, 242, 242);
  bottom: -25px;
  right: 30px;
  text-align: center;
}

.row_triangle {
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 30px solid;
  border-color: transparent transparent pink transparent;
  margin: -12px;
  transform: rotate(90deg);
}

.column_triangle {
  display: block;
  width: 0px;
  height: 0px;
  border: 30px solid;
  border-color: transparent transparent lightseagreen transparent;
  margin: -12px;
  transform: rotate(180deg);
}

.maru {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.circle-01 {
  width: 20.5rem;
  height: 20.5rem;
  border-radius: 50%;
  border: solid 2px #ccc;
}

.circle {
  width: 20.5rem;
  height: 20.5rem;
  border-radius: 50%;
  border: solid 2px #ccc;
  background-color: lightseagreen;
  display: grid;
  place-items: center;
  position: relative;
}
.circle .circle__image {
  width: 15.6rem;
}
.circle::before {
  position: absolute;
  content: "";
  height: 20rem;
  width: 0.2rem;
  background-color: lightseagreen;
  top: -20rem;
  z-index: -1;
}
@media only screen and (max-width: 767.9px) {
  .circle::before {
    content: none;
  }
}
.circle::after {
  position: absolute;
  content: "";
  height: 20rem;
  width: 0.2rem;
  background-color: rgb(168, 96, 159);
  top: 0;
  right: -10rem;
  transform: rotate(90deg);
  z-index: -1;
}
@media only screen and (max-width: 767.9px) {
  .circle::after {
    content: none;
  }
}

.note_contents {
  display: flex;
  justify-content: flex-start;
  border: solid 2px #4172CE;
  padding: 2.18rem 3.9rem 3.22rem 5.02rem;
}
@media only screen and (max-width: 767.9px) {
  .note_contents {
    display: none;
  }
}

.note__img {
  width: 274px;
  margin-left: -35px;
}
@media only screen and (max-width: 1480.9px) {
  .note__img {
    width: 27.4rem;
  }
}

.note {
  border-bottom: solid 1px #ccc;
  line-height: 2.16;
  font-size: 25px;
}
@media only screen and (max-width: 1480.9px) {
  .note {
    font-size: 2.5rem;
  }
}

.note__line-01 {
  width: 1145px;
}
@media only screen and (max-width: 1480.9px) {
  .note__line-01 {
    width: 114.5rem;
  }
}

.note__line-02 {
  width: 1108px;
}
@media only screen and (max-width: 1480.9px) {
  .note__line-02 {
    width: 110.8rem;
  }
}

.note__line-03 {
  width: 1077px;
}
@media only screen and (max-width: 1480.9px) {
  .note__line-03 {
    width: 107.7rem;
  }
}

.note__line-04 {
  width: 1040px;
}
@media only screen and (max-width: 1480.9px) {
  .note__line-04 {
    width: 104rem;
  }
}

.note__line-05 {
  width: 1000px;
}
@media only screen and (max-width: 1480.9px) {
  .note__line-05 {
    width: 100rem;
  }
}

.note__line-06 {
  width: 948px;
  vertical-align: middle;
}
@media only screen and (max-width: 1480.9px) {
  .note__line-06 {
    width: 94.8rem;
  }
}

.note__line-06-span {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  width: 414px;
  margin-left: 140px;
}
@media only screen and (max-width: 1480.9px) {
  .note__line-06-span {
    font-size: 1.2rem;
    width: 41.4rem;
    margin-left: 14rem;
  }
}

@media only screen and (max-width: 1480.9px) {
  .sp-note__contents {
    display: none;
    width: 100%;
    background: #fff;
    border: solid 1px #4172CE;
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 767.9px) {
  .sp-note__contents {
    display: block;
    width: 100%;
    background: #fff;
    border: solid 1px #4172CE;
    padding: 20px 10px;
  }
}
.sp-note__contents .sp-note__contents-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4172CE;
  text-align: center;
}
.sp-note__contents .sp-note__wrapper {
  margin-top: 23px;
  background: #fff;
  background-image: linear-gradient(180deg, #ccc 1px, transparent 1px);
  /* 罫線の色と太さ  */
  background-size: 100% 2.5em;
  /* 行の高さ */
  line-height: 2.5em;
  /* 文字の高さ */
  padding-bottom: 1px;
  /* 最終行の下にも罫線を引く */
}
.sp-note__contents .sp-note__wrapper-annotation {
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  text-indent: 1em;
}

.zone_wrapper {
  width: 60rem;
  height: auto;
  margin: 3rem auto;
}
@media only screen and (max-width: 767.9px) {
  .zone_wrapper {
    width: 100%;
  }
}

.zone_wrapper .flex {
  justify-content: flex-start;
  gap: 3.05rem;
}
@media only screen and (max-width: 767.9px) {
  .zone_wrapper .flex {
    gap: 1.6rem;
  }
}

.zone_heading {
  font-family: "ofelia-text", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 25px;
  line-height: 1.6;
  background-color: rgba(237, 101, 45, 0.3);
  color: #4172CE;
  width: 138px;
  display: grid;
  place-items: end;
  align-items: center;
  border-radius: 50vh 0 0 0;
  height: 75px;
  padding-right: 10px;
}
@media only screen and (max-width: 1480.9px) {
  .zone_heading {
    font-size: 2.5rem;
    width: 13.8rem;
    height: 7.5rem;
  }
}
@media only screen and (max-width: 767.9px) {
  .zone_heading {
    font-size: 1.2rem;
    width: 7.3rem;
    height: 4rem;
  }
}

.card {
  margin-top: 60px;
  max-width: 1240px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 1480.9px) {
  .card {
    max-width: 124rem;
  }
}

.card__ul {
  display: flex;
  justify-content: space-between;
  gap: 27.5px;
}
@media only screen and (max-width: 1480.9px) {
  .card__ul {
    gap: 2.75rem;
  }
}
@media only screen and (max-width: 767.9px) {
  .card__ul {
    flex-direction: column;
  }
}

.card__wrapper {
  padding: 2px;
  border-radius: 53px;
  background: conic-gradient(#4172CE 0%, #4172CE 2%, #fff 2%, #fff 8%, #4172CE 8%, #4172CE 100%);
}
@media only screen and (max-width: 1480.9px) {
  .card__wrapper {
    border-radius: 5.3rem;
  }
}
@media only screen and (max-width: 767.9px) {
  .card__wrapper {
    border-radius: 2rem;
  }
}
.card__wrapper a {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 767.9px) {
  .card__wrapper {
    background: none;
    border: solid 2px #4172CE;
  }
}

.card_haikei {
  background: #fff;
  border-radius: 53px;
  text-align: center;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 27.3px;
}
@media only screen and (max-width: 1480.9px) {
  .card_haikei {
    padding: 2rem 8rem 2.73rem;
    border-radius: 5.3rem;
  }
}
@media only screen and (max-width: 767.9px) {
  .card_haikei {
    padding: 2.5rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
  }
}

.card__title {
  font-size: 28.5px;
  font-weight: 700;
  color: #4172CE;
  position: relative;
}
@media only screen and (max-width: 1480.9px) {
  .card__title {
    font-size: 2.85rem;
  }
}
@media only screen and (max-width: 767.9px) {
  .card__title {
    font-size: 1.5rem;
  }
}
.card__title .card__title-span {
  position: absolute;
  top: -70px;
  font-size: 97.6px;
}
@media only screen and (max-width: 1480.9px) {
  .card__title .card__title-span {
    font-size: 9.76rem;
    top: -7rem;
  }
}
@media only screen and (max-width: 767.9px) {
  .card__title .card__title-span {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0;
    top: 0;
    left: 0;
  }
}

.card__point-img01 {
  width: 227px;
  margin-top: 30px;
}
@media only screen and (max-width: 1480.9px) {
  .card__point-img01 {
    width: 22.7rem;
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 767.9px) {
  .card__point-img01 {
    width: 5rem;
    margin-top: 0;
  }
}

.card__text {
  color: #4172CE;
  font-size: 20px;
  font-weight: 700;
  margin-top: 34.1px;
}
@media only screen and (max-width: 1480.9px) {
  .card__text {
    font-size: 2rem;
    margin-top: 3.41rem;
  }
}
@media only screen and (max-width: 767.9px) {
  .card__text {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: left;
  }
}

.arrow_bottom {
  border-bottom: solid 1px #4172CE;
  border-right: solid 1px #4172CE;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  margin-right: auto;
  margin-left: auto;
}

.card__arrow-text {
  margin-top: 20.6px;
  text-align: center;
  color: #4172CE;
}
