@charset "UTF-8";
body {
  font-family: "Noto Sans", "Noto Sans JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
}

/*PC固定*/
/*pc*/
@media screen and (max-width: 1480px) {
  html {
    font-size: 0.675vw;
  }
}
/*スマホ*/
@media screen and (max-width: 768px) {
  html {
    font-size: 2.666vw;
    /*
    デザインカンプが375PX
      計算式：10(px) / 375(px) * 100 = 2.6666
      画面幅375pxの時に "font-size: 10px" 相当になる
    */
  }
}
body {
  opacity: 0;
  animation: fadeIn 3s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
.test {
  font-size: 20px;
  color: #4172CE;
}
@media only screen and (max-width: 768px) {
  .test {
    font-size: 30px;
    color: red;
    font-weight: bold;
  }
}
@media only screen and (max-width: 375x) {
  .test {
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }
}

.inner {
  max-width: 1530px;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 1480px) {
  .inner {
    max-width: 153rem;
  }
}
@media only screen and (max-width: 768px) {
  .inner {
    max-width: 100%;
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.contents_title {
  margin: 50px auto;
  max-width: 800px;
  background: linear-gradient(-35deg, lightblue 98%, transparent 0);
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
}
@media only screen and (max-width: 1480px) {
  .contents_title {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .contents_title {
    background: linear-gradient(-35deg, lightblue 96%, transparent 0);
  }
}

.pc_only {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .pc_only {
    display: none;
  }
}

.sp_only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .sp_only {
    display: inline-block;
  }
}

.base_btn a {
  width: 300px;
  background: skyblue;
  padding: 1em 2em;
  border-radius: 50vh;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orange_btn a,
.blue_btn a {
  min-width: 500px;
  background: linear-gradient(130deg, #E65A24, #F0A53B, #F0A53B);
  padding: 0 2em;
}
@media only screen and (max-width: 768px) {
  .orange_btn a,
  .blue_btn a {
    min-width: 100%;
  }
}

.blue_btn a {
  background: linear-gradient(90deg, #4076B0, #70BDD1);
}

.orange_btn-large a {
  max-width: 780px;
  background: linear-gradient(130deg, #E65A24, #F0A53B, #F0A53B);
  padding: 0 2em;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 1480px) {
  .orange_btn-large a {
    max-width: 78rem;
  }
}
@media only screen and (max-width: 768px) {
  .orange_btn-large a {
    max-width: 28rem;
    font-size: 2.5rem;
  }
}

/* ベースの本体 */
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #6bb6ff;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

#loading.loaded {
  opacity: 0;
  visibility: hidden;
}

/* 以下にローディングアニメーションCSSのコピペ */
/* sample loader */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loadingNone {
  animation: loadingAnime 1s forwards;
}

@keyframes loadingAnime {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.cookie-consent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.2em;
  z-index: 100;
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .cookie-consent {
    flex-direction: column;
  }
}

.cookie-consent.is-show {
  visibility: visible;
}

@media only screen and (max-width: 768px) {
  .cookie__text {
    margin-bottom: 1em;
  }
}

.cookie-consent a {
  color: #fff;
}

.cookie__agree {
  color: #fff;
  background: dodgerblue;
  padding: 0.5em 1.5em;
}

.cookie__agree:hover {
  cursor: pointer;
}

/*パッと消える*/
.cc-hide1 {
  display: none;
}

/*ゆっくり消える*/
.cc-hide2 {
  animation: hide 1s linear 0s;
  animation-fill-mode: forwards;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.header {
  width: 100%;
  height: 100px;
  background-color: lavenderblush;
}
.header .header__inner {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #ccc;
  align-items: center;
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1480px) {
  .header .header__inner {
    width: 100rem;
    background-color: lightblue;
  }
}
@media only screen and (max-width: 768px) {
  .header .header__inner {
    width: 100%;
    background-color: lightcoral;
  }
}
@media only screen and (max-width: 768px) {
  .header .header__inner .pc_nav {
    display: none;
  }
}
.header .header__inner .pc_nav .flex {
  gap: 25px;
}

#hamburger {
  display: none;
}
@media only screen and (max-width: 768px) {
  #hamburger {
    display: block;
    position: relative;
    width: 50px;
    height: 45px;
    margin-left: auto;
    background-color: #747272;
  }
}

#hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #fff;
  transform: translateY(-50%);
}

#hamburger::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
}

#hamburger::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: #FFF;
  bottom: 0;
  left: 0;
  width: 70%;
}

.sp_nav {
  display: none;
}
@media only screen and (max-width: 768px) {
  .sp_nav {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }
}

.sp_nav ul li a {
  color: #fff;
}

.toggle {
  transform: translateY(0);
  opacity: 1;
}

/*閉じるの前のバツ印を疑似要素を使って作る*/
.close {
  position: relative;
  padding-left: 20px;
}
.close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #FFF;
  transform: rotate(45deg);
}
.close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #FFF;
  transform: rotate(-45deg);
}

.sp_nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sp_nav ul li {
  margin: 0;
  padding: 0;
}

.sp_nav ul li span {
  font-size: 15px;
  color: #fff;
}

.sp_nav ul li span,
.sp_nav ul li a {
  display: block;
  padding: 20px 0;
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  z-index: 100;
  display: none;
}

@media only screen and (max-width: 768px) {
  .mv .inner {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.mv__wrapper {
  display: flex;
  justify-content: space-between;
  height: 485px;
}
@media only screen and (max-width: 1480px) {
  .mv__wrapper {
    height: 48.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .mv__wrapper {
    flex-direction: column-reverse;
    height: 100%;
    text-align: center;
  }
}

.mv__title {
  width: 31.6%;
  background: linear-gradient(270deg, #74C6D2, #68b0b0, #20b2aa);
  color: #fff;
  padding: 58px 48px 48.5px 79px;
}
@media only screen and (max-width: 1480px) {
  .mv__title {
    padding: 5.8rem 4.8rem 4.85rem 6rem;
  }
}
@media only screen and (max-width: 768px) {
  .mv__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: -19rem;
    background: linear-gradient(270deg, rgba(116, 198, 210, 0.8), rgba(104, 176, 176, 0.8), rgba(32, 178, 170, 0.8));
    width: 83.5%;
    padding: 1.9rem 4rem 2.3rem 4rem;
  }
}

.mv__title-h1 {
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 98px;
  font-weight: 400;
  font-style: italic;
  line-height: 0.887755102;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 1480px) {
  .mv__title-h1 {
    font-size: 9.8rem;
  }
}
@media only screen and (max-width: 768px) {
  .mv__title-h1 {
    font-size: 5.6rem;
    line-height: 0.75;
    margin-top: 0.3rem;
  }
}

.mv__title-lead-01 {
  font-size: 20px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 700;
}
@media only screen and (max-width: 1480px) {
  .mv__title-lead-01 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .mv__title-lead-01 {
    font-size: 1.5rem;
    letter-spacing: 0.15em;
    line-height: 1.1333333333;
  }
}

.mv__title-lead-02 {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
@media only screen and (max-width: 1480px) {
  .mv__title-lead-02 {
    font-size: 1.1rem;
    letter-spacing: 0.07em;
    margin-top: 1.2rem;
  }
}

.mv__title-button {
  margin-top: 15.2px;
  max-width: 319px;
  border-radius: 50vh;
  background: linear-gradient(130deg, #E65A24, #F0A53B, #F0A53B);
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 1480px) {
  .mv__title-button {
    margin-top: 1.52rem;
    max-width: 31.9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .mv__title-button {
    margin-top: 0.8rem;
  }
}
.mv__title-button a {
  font-size: 20px;
  color: #FFF;
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
}
@media only screen and (max-width: 1480px) {
  .mv__title-button a {
    font-size: 2rem;
  }
}

.mv__image {
  width: 68.4%;
  height: auto;
  overflow: hidden;
}
@media only screen and (max-width: 1480px) {
  .mv__image {
    width: 100%;
  }
}
.mv__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.triangle_wrapper {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(212, 242, 242);
  height: 300px;
  padding: 50px;
}

.arrowArea {
  padding-top: 100px;
}

.yazirusi {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100px;
  transform: rotate(90deg);
}
.yazirusi::before {
  content: "About";
  position: absolute;
  color: blue;
  font-size: 16px;
  top: -30px;
}

.line01 {
  height: 1px;
  background-color: #000;
}

.line02 {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: right bottom;
  width: 20px;
  height: 1px;
  background-color: #000;
  transform: rotate(45deg);
}

.line_box {
  position: relative;
  width: 300px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 20px;
}
.line_box::after {
  position: absolute;
  content: "/";
  color: #ccc;
  width: 30px;
  font-size: 30px;
  font-weight: normal;
  background-color: rgb(212, 242, 242);
  bottom: -25px;
  right: 30px;
  text-align: center;
}

.row_triangle {
  display: inline-block;
  width: 0px;
  height: 0px;
  border: 30px solid;
  border-color: transparent transparent pink transparent;
  margin: -12px;
  transform: rotate(90deg);
}

.column_triangle {
  display: block;
  width: 0px;
  height: 0px;
  border: 30px solid;
  border-color: transparent transparent lightseagreen transparent;
  margin: -12px;
  transform: rotate(180deg);
}

.maru {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.circle-01 {
  width: 20.5rem;
  height: 20.5rem;
  border-radius: 50%;
  border: solid 2px #ccc;
}

.circle {
  width: 20.5rem;
  height: 20.5rem;
  border-radius: 50%;
  border: solid 2px #ccc;
  background-color: lightseagreen;
  display: grid;
  place-items: center;
  position: relative;
}
.circle .circle__image {
  width: 15.6rem;
}
.circle::before {
  position: absolute;
  content: "";
  height: 20rem;
  width: 0.2rem;
  background-color: #20b2aa;
  top: -20rem;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .circle::before {
    content: none;
  }
}
.circle::after {
  position: absolute;
  content: "";
  height: 20rem;
  width: 0.2rem;
  background-color: rgb(168, 96, 159);
  top: 0;
  right: -10rem;
  transform: rotate(90deg);
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .circle::after {
    content: none;
  }
}

.note_contents {
  display: flex;
  justify-content: flex-start;
  border: solid 2px #4172CE;
  padding: 2.18rem 3.9rem 3.22rem 5.02rem;
}
@media only screen and (max-width: 768px) {
  .note_contents {
    display: none;
  }
}

.note__img {
  width: 274px;
  margin-left: -35px;
}
@media only screen and (max-width: 1480px) {
  .note__img {
    width: 27.4rem;
  }
}

.note {
  border-bottom: solid 1px #ccc;
  line-height: 2.16;
  font-size: 25px;
}
@media only screen and (max-width: 1480px) {
  .note {
    font-size: 2.5rem;
  }
}

.note__line-01 {
  width: 1145px;
}
@media only screen and (max-width: 1480px) {
  .note__line-01 {
    width: 114.5rem;
  }
}

.note__line-02 {
  width: 1108px;
}
@media only screen and (max-width: 1480px) {
  .note__line-02 {
    width: 110.8rem;
  }
}

.note__line-03 {
  width: 1077px;
}
@media only screen and (max-width: 1480px) {
  .note__line-03 {
    width: 107.7rem;
  }
}

.note__line-04 {
  width: 1040px;
}
@media only screen and (max-width: 1480px) {
  .note__line-04 {
    width: 104rem;
  }
}

.note__line-05 {
  width: 1000px;
}
@media only screen and (max-width: 1480px) {
  .note__line-05 {
    width: 100rem;
  }
}

.note__line-06 {
  width: 948px;
  vertical-align: middle;
}
@media only screen and (max-width: 1480px) {
  .note__line-06 {
    width: 94.8rem;
  }
}

.note__line-06-span {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  width: 414px;
  margin-left: 140px;
}
@media only screen and (max-width: 1480px) {
  .note__line-06-span {
    font-size: 1.2rem;
    width: 41.4rem;
    margin-left: 14rem;
  }
}

@media only screen and (max-width: 1480px) {
  .sp-note__contents {
    display: none;
    width: 100%;
    background: #fff;
    border: solid 1px #4172CE;
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .sp-note__contents {
    display: block;
    width: 100%;
    background: #fff;
    border: solid 1px #4172CE;
    padding: 20px 10px;
  }
}
.sp-note__contents .sp-note__contents-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #4172CE;
  text-align: center;
}
.sp-note__contents .sp-note__wrapper {
  margin-top: 23px;
  background: #fff;
  background-image: linear-gradient(180deg, #ccc 1px, transparent 1px);
  /* 罫線の色と太さ  */
  background-size: 100% 2.5em;
  /* 行の高さ */
  line-height: 2.5em;
  /* 文字の高さ */
  padding-bottom: 1px;
  /* 最終行の下にも罫線を引く */
}
.sp-note__contents .sp-note__wrapper-annotation {
  font-size: 1.1rem;
  letter-spacing: 0.1em;
  text-indent: 1em;
}

.zone_wrapper {
  width: 60rem;
  height: auto;
  margin: 3rem auto;
}
@media only screen and (max-width: 768px) {
  .zone_wrapper {
    width: 100%;
  }
}

.zone_wrapper .flex {
  justify-content: flex-start;
  gap: 3.05rem;
}
@media only screen and (max-width: 768px) {
  .zone_wrapper .flex {
    gap: 1.6rem;
  }
}

.zone_heading {
  font-family: "ofelia-text", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 25px;
  line-height: 1.6;
  background-color: rgba(237, 101, 45, 0.3);
  color: #4172CE;
  width: 138px;
  display: grid;
  place-items: end;
  align-items: center;
  border-radius: 50vh 0 0 0;
  height: 75px;
  padding-right: 10px;
}
@media only screen and (max-width: 1480px) {
  .zone_heading {
    font-size: 2.5rem;
    width: 13.8rem;
    height: 7.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .zone_heading {
    font-size: 1.2rem;
    width: 7.3rem;
    height: 4rem;
  }
}

.card {
  margin-top: 60px;
  max-width: 1240px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 1480px) {
  .card {
    max-width: 124rem;
  }
}

.card__ul {
  display: flex;
  justify-content: space-between;
  gap: 27.5px;
}
@media only screen and (max-width: 1480px) {
  .card__ul {
    gap: 2.75rem;
  }
}
@media only screen and (max-width: 768px) {
  .card__ul {
    flex-direction: column;
  }
}

.card__wrapper {
  padding: 2px;
  border-radius: 53px;
  background: conic-gradient(#4172CE 0%, #4172CE 2%, #fff 2%, #fff 8%, #4172CE 8%, #4172CE 100%);
}
@media only screen and (max-width: 1480px) {
  .card__wrapper {
    border-radius: 5.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .card__wrapper {
    border-radius: 2rem;
  }
}
.card__wrapper a {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .card__wrapper {
    background: none;
    border: solid 2px #4172CE;
  }
}

.card_haikei {
  background: #fff;
  border-radius: 53px;
  text-align: center;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 27.3px;
}
@media only screen and (max-width: 1480px) {
  .card_haikei {
    padding: 2rem 8rem 2.73rem;
    border-radius: 5.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .card_haikei {
    padding: 2.5rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
  }
}

.card__title {
  font-size: 28.5px;
  font-weight: 700;
  color: #4172CE;
  position: relative;
}
@media only screen and (max-width: 1480px) {
  .card__title {
    font-size: 2.85rem;
  }
}
@media only screen and (max-width: 768px) {
  .card__title {
    font-size: 1.5rem;
  }
}
.card__title .card__title-span {
  position: absolute;
  top: -70px;
  font-size: 97.6px;
}
@media only screen and (max-width: 1480px) {
  .card__title .card__title-span {
    font-size: 9.76rem;
    top: -7rem;
  }
}
@media only screen and (max-width: 768px) {
  .card__title .card__title-span {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0;
    top: 0;
    left: 0;
  }
}

.card__point-img01 {
  width: 227px;
  margin-top: 30px;
}
@media only screen and (max-width: 1480px) {
  .card__point-img01 {
    width: 22.7rem;
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .card__point-img01 {
    width: 5rem;
    margin-top: 0;
  }
}

.card__text {
  color: #4172CE;
  font-size: 20px;
  font-weight: 700;
  margin-top: 34.1px;
}
@media only screen and (max-width: 1480px) {
  .card__text {
    font-size: 2rem;
    margin-top: 3.41rem;
  }
}
@media only screen and (max-width: 768px) {
  .card__text {
    font-size: 1.5rem;
    margin-top: 0;
    text-align: left;
  }
}

.arrow_bottom {
  border-bottom: solid 1px #4172CE;
  border-right: solid 1px #4172CE;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  margin-right: auto;
  margin-left: auto;
}

.card__arrow-text {
  margin-top: 20.6px;
  text-align: center;
  color: #4172CE;
}

.js_01 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.js_01__text {
  max-width: 800px;
  background: #fff;
  border: solid 2px #3F4548;
  padding: 20px;
  font-weight: bold;
  position: relative;
  margin: auto;
}
.js_01__text::after {
  content: "＋";
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-size: 24px;
}

.js_01__text.open::after {
  content: "－";
}

.js_01__text-body {
  display: none;
  background: rgb(212, 242, 242);
  height: 300px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.js_02 {
  margin: 50px auto 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.accordion__container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.accordion__list:not(:first-child) {
  /*最初のlistはmargin-top付けない*/
  margin-top: 10px;
}

.accordion__title {
  background: #ddd;
  cursor: pointer;
  font-size: 18px;
  padding: 20px 40px;
  position: relative;
}

.accordion__title::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 25px;
  height: 2px;
  width: 15px;
  background: #333;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.accordion__title::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 25px;
  height: 2px;
  width: 15px;
  background: lightcoral;
  transition: all 0.3s ease-in-out;
}

.accordion__title.open::before {
  transform: rotate(180deg);
}

.accordion__title.open::after {
  opacity: 0;
}

.accordion__content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  padding: 20px 40px;
  font-size: 16px;
  /*最初は非表示*/
  display: none;
}

.js_03 {
  width: 100%;
  height: auto;
  font-size: 18px;
  padding-bottom: 50px;
}

.tab__wrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

/*タブ基本のスタイル*/
.tabs-menu li {
  float: left;
  margin-left: 8px;
  margin-bottom: -1px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px 4px 0 0;
  /*各プロパティをふわっと変える*/
  transition: all 0.35s;
}

.tabs-menu a {
  display: block;
  padding: 10px 20px;
  color: #557f95;
}

/*非選択のタブにマウスを乗せたら色を変える*/
.tabs-menu li:not(.active):hover {
  border-color: #f0f0f0 #f0f0f0 #999;
  background-color: #f0f0f0;
}

/*選択中のタブの色を設定*/
.tabs-menu .active {
  border-color: #999 #999 transparent #999;
  background-color: #fff;
}

.tabs-menu .active a {
  color: red;
}

/*タブコンテンツ表エリア*/
.tabs-content {
  clear: both;
  border: 1px solid #999;
  border-radius: 0 4px 4px 4px;
  padding: 20px;
}

/*各タブのコンテンツはデフォルトで非表示*/
.tabs-content section {
  display: none;
}

.tabs-content section.active {
  display: block;
  transition: all 0.35s;
}

.modalArea {
  visibility: hidden;
  /*displayではなくvisibility*/
  opacity: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 24px;
  cursor: pointer;
}

/*モーダル用クラス*/
.is-show {
  visibility: visible;
  opacity: 1;
}

/*モーダルボタン*/
.js_04 button {
  padding: 10px;
  background-color: #fff;
  border: solid 1px #999;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 18px;
}

.page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  bottom: -60px;
  background-color: lightcoral;
  opacity: 0.6;
  border-radius: 50vh;
}

.page_top a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.page_top a::before {
  content: "";
  position: absolute;
  left: 20%;
  width: 0;
  height: 0px;
  border: 15px solid;
  border-color: transparent transparent rgba(255, 255, 255, 0.6) transparent;
  display: flex;
  align-items: center;
}
