@use 'color' as *;
@use 'mixin' as *;

// ================================
// ページ全体をふわっと読み込みCSS
// ================================

body {
    opacity: 0;
    animation: fadeIn 3s ease;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

// ================================
// タグ、ボタン、見出しなど共通して使うもの
// ================================

.test {
    font-size: 20px;
    color: $blue;

    @include mq(tb) {
        font-size: 30px;
        color: red;
        font-weight: bold;
    }

    @include mq(sp) {
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }
}

// --- 横幅 ---
.inner {
    max-width: 1530px;
    padding-right: $padding_pc;
    padding-left: $padding_pc;
    margin-right: auto;
    margin-left: auto;

    @include mq(pc) {
        max-width: 153rem;
    }

    @include mq(tb) {
        max-width: 100%;
        width: 100%;
        padding-right: $padding_sp;
        padding-left: $padding_sp;
    }
}

// --- 共通 ---
* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.contents_title {
    margin: 50px auto;
    max-width: 800px;
    background: linear-gradient(-35deg, lightblue 98%, transparent 0);
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;

    @include mq(pc) {
        font-size: 1.8rem;
    }
    @include mq(tb) {
        background: linear-gradient(-35deg, lightblue 96%, transparent 0);
    }
}

// --- 表示・非表示切り替え ---
.pc_only {
    display: inline-block;

    @include mq(tb) {
        display: none;
    }
}

.sp_only {
    display: none;

    @include mq(tb) {
        display: inline-block;
    }
}

