@use 'color' as *;
@use 'mixin' as *;

// ================================
// タグ、ボタン、見出しなど共通して使うもの
// ================================

.test {
    font-size: 20px;
    color: $blue;

    @include mq(tb) {
        font-size: 30px;
        color: red;
        font-weight: bold;
    }

    @include mq(sp) {
        font-size: 20px;
        color: #000;
        font-weight: bold;
    }
}

// --- 横幅 ---
.inner {
    max-width: 1530px;
    padding-right: $padding_pc;
    padding-left: $padding_pc;
    margin-right: auto;
    margin-left: auto;

    @include mq(pc) {
        max-width: 153rem;
    }

    @include mq(tb) {
        max-width: 100%;
        width: 100%;
        padding-right: $padding_sp;
        padding-left: $padding_sp;
    }
}

// --- 共通 ---
* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-between;
}

// --- 表示・非表示切り替え ---
.pc_only {
    display: inline-block;

    @include mq(tb) {
        display: none;
    }
}

.sp_only {
    display: none;

    @include mq(tb) {
        display: inline-block;
    }
}

// --- ボタン ---
.base_btn a {
    width: 300px;
    background: skyblue;
    padding: 1em 2em;
    border-radius: 50vh;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange_btn a,
.blue_btn a {
    min-width: 500px;
    background: linear-gradient(130deg, #E65A24, #F0A53B, #F0A53B);
    padding: 0 2em;
}

.blue_btn a {
    background: linear-gradient(90deg, #4076B0, #70BDD1);
}


.orange_btn-large a {
    min-width: 780px;
    background: linear-gradient(130deg, #E65A24, #F0A53B, #F0A53B);
    padding: 0 2em;

}