@use '../global/' as *;

.wrapper {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 242, 242);
    height: 300px;
}

.arrowArea {
    padding-top: 100px;
}

.yazirusi {
    margin-left: auto;
    margin-right: auto;

    position: relative;
    width: 100px;
    transform: rotate(90deg);

    &::before {
        content: 'About';
        position: absolute;
        color: blue;
        font-size: 16px;
        top: -30px;
    }
}

.line01 {
    height: 1px;
    background-color: #000;
}

.line02 {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: right bottom;
    width: 20px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
}

.wrapper {
    padding: 50px;
}

.line_box {
    position: relative;
    width: 300px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 20px;

    &::after {
        position: absolute;
        content: "/";
        color: #ccc;
        width: 30px;
        font-size: 30px;
        font-weight: normal;
        background-color: rgb(212, 242, 242);
        bottom: -25px;
        right: 30px;
        text-align: center;
    }

}

.row_triangle {
    display: inline-block;
    width: 0px;
    height: 0px;
    border: 30px solid;
    border-color: transparent transparent pink transparent;
    margin: -12px;
    transform: rotate(90deg);
}

.column_triangle {
    display: block;
    width: 0px;
    height: 0px;
    border: 30px solid;
    border-color: transparent transparent lightseagreen transparent;
    margin: -12px;
    transform: rotate(180deg);
}

.maru {
    padding: 20rem 5rem;
}

.circle-01 {
    width: 20.5rem;
    height: 20.5rem;
    border-radius: 50%;
    border: solid 2px #ccc;
}

.circle {
    width: 20.5rem;
    height: 20.5rem;
    border-radius: 50%;
    border: solid 2px #ccc;
    background-color: lightseagreen;
    display: grid;
    place-items: center;
    position: relative;

    .circle__image {
        width: 15.6rem;
    }

    &::before {
        position: absolute;
        content: "";
        height: 20rem;
        width: .2rem;
        background-color: lightseagreen;
        top: -20rem;
        z-index: -1;
    }

    &::after {
        position: absolute;
        content: "";
        height: 20rem;
        width: .2rem;
        background-color: rgb(168, 96, 159);
        top: 0;
        right: -10rem;
        transform: rotate(90deg);
        z-index: -1;
    }
}

.note_contents {
    display: flex;
    justify-content: flex-start;
    border: solid 2px $blue;
    padding: 2.18rem 3.9rem 3.22rem 5.02rem;
}

.note__img {
    width: 274px;
    margin-left: -35px;

    @include mq(pc) {
        width: 27.4rem;
    }

    @include mq(tb) {
        width: 15.6rem;
    }
}

.note {
    border-bottom: solid 1px #ccc;
    line-height: calc(54 / 25);
    font-size: 25px;

    @include mq(pc) {
        font-size: 2.5rem;
    }
}

.note__line-01 {
    width: 1145px;

    @include mq(pc) {
        // width: 77.4%;
        width: 114.5rem;
    }
}

.note__line-02 {
    width: 1108px;

    @include mq(pc) {
        // width: 74.9%;
        width: 110.8rem;
    }
}

.note__line-03 {
    width: 1077px;

    @include mq(pc) {
        // width: 72.8%;
        width: 107.7rem;
    }
}

.note__line-04 {
    width: 1040px;

    @include mq(pc) {
        // width: 70.3%;
        width: 104rem;
    }
}

.note__line-05 {
    width: 1000px;

    @include mq(pc) {
        // width: 67.6%;
        width: 100rem;
    }
}

.note__line-06 {
    width: 948px;
    vertical-align: middle;

    @include mq(pc) {
        // width: 94.1%;
        width: 94.8rem;
    }
}

.note__line-06-span {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
    width: 414px;
    margin-left: 140px;

    @include mq(pc) {
        font-size: 1.2rem;
        width: 41.4rem;
        margin-left: 14rem;
    }
}




.zone_wrapper {
    width: 60rem;
    height: auto;
    margin: 3rem auto;
}

.zone_wrapper .flex {
    justify-content: flex-start;
    gap: 3.05rem;
}

.zone_heading {
    font-family: "ofelia-text", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
    line-height: 1.6;
    background-color: rgba(237, 101, 45, 0.3);
    color: #4172CE;
    width: 138px;
    display: grid;
    place-items: end;
    align-items: center;
    border-radius: 50vh 0 0 0;
    height: 75px;
    padding-right: 10px;

    @include mq(pc) {
        font-size: 2.5rem;
        width: 13.8rem;
        height: 7.5rem;

    }
}

.card {
    margin-top: 60px;
    max-width: 1240px;
    height: auto;
    margin-right: auto;
    margin-left: auto;

    @include mq(pc) {
        max-width: 124rem;
    }
}

.card__ul {
    display: flex;
    justify-content: space-between;
    gap: 27.5px;

    @include mq(pc) {
        gap: 2.75rem;
    }
}

.card__wrapper {
    padding: 2px;
    border-radius: 53px;
    background: conic-gradient(#4172CE 0%, #4172CE 2%, #fff 2%, #fff 8%, #4172CE 8%, #4172CE 100%);

    @include mq(pc) {
        border-radius: 5.3rem;
    }

    & a {
        width: 100%;
        height: 100%;
    }
}

.card_haikei {
    background: #fff;
    border-radius: 53px;
    text-align: center;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 27.3px;

    @include mq(pc) {
        padding: 2rem 8rem 2.73rem;
        border-radius: 5.3rem;
    }
}

.card__title {
    font-size: 28.5px;
    font-weight: 700;
    color: $blue;
    position: relative;

    @include mq(pc) {
        font-size: 2.85rem;
    }

    .card__title-span {
        position: absolute;
        top: -70px;
        font-size: 97.6px;

        @include mq(pc) {
            font-size: 9.76rem;
            top: -7rem;
        }
    }
}

.card__point-img01 {
    width: 227px;
    margin-top: 30px;

    @include mq(pc) {
        width: 22.7rem;
        margin-top: 3rem;
    }
}

.card__text {
    color: $blue;
    font-size: 20px;
    font-weight: 700;
    margin-top: 34.1px;

    @include mq(pc) {
        font-size: 2rem;
        margin-top: 3.41rem;
    }
}

.arrow_bottom {
    border-bottom: solid 1px $blue;
    border-right: solid 1px $blue;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    margin-right: auto;
    margin-left: auto;
}

.card__arrow-text {
    margin-top: 20.6px;
    text-align: center;
    color: $blue;
}