@use '../global/' as *;


.triangle_wrapper {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(212, 242, 242);
    height: auto;
    padding: 50px;
}

.skew {
    margin: 20px auto;
    max-width: 1480px;
}

.skew.flex {
    justify-content: flex-start;
    gap: 4.2rem;
}

.box_skew01 {
    width: 160px;
    height: auto;
    padding: 20px 0;
    background-color: #00FBFF;
    transform: skew(-45deg);
    text-align: center;
    font-size: 18px;
    box-shadow: 10px 6px 0px 0px #4172CE;
}

.box_skew02 {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    width: 160px;
    padding: 20px 0;
    font-size: 18px;
}

.box_skew02::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #20b2aa;
    transform: skew(-45deg);
}

.skew_nav {
    margin-top: 60px;
    display: flex;
}

.skew_list {
    text-align: center;
}

.skew_list a {
    position: relative;
    font-size: 16px;
    padding: 10px 20px;
    z-index: 1;
}

.skew_list a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #092db1;
    transform: skew(-45deg);
}

.skew_list:nth-child(odd) a::before {
    background-color: #1049bd;;
}

.skew_list a:hover::before {
    background-color: #de5901;
}

.skew_note {
    margin-top: 20px;
}

.arrowArea {
    padding-top: 100px;
}

.yazirusi {
    margin-left: auto;
    margin-right: auto;

    position: relative;
    width: 100px;
    transform: rotate(90deg);

    &::before {
        content: 'About';
        position: absolute;
        color: blue;
        font-size: 16px;
        top: -30px;
    }
}

.line01 {
    height: 1px;
    background-color: #000;
}

.line02 {
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: right bottom;
    width: 20px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
}

.line_box {
    position: relative;
    width: 300px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 20px;

    &::after {
        position: absolute;
        content: "/";
        color: #ccc;
        width: 30px;
        font-size: 30px;
        font-weight: normal;
        background-color: rgb(212, 242, 242);
        bottom: -25px;
        right: 30px;
        text-align: center;
    }

}

.row_triangle {
    display: inline-block;
    width: 0px;
    height: 0px;
    border: 30px solid;
    border-color: transparent transparent pink transparent;
    margin: -12px;
    transform: rotate(90deg);
}

.column_triangle {
    display: block;
    width: 0px;
    height: 0px;
    border: 30px solid;
    border-color: transparent transparent lightseagreen transparent;
    margin: -12px;
    transform: rotate(180deg);
}

// --- 直線の中央だけ三角矢印ここから---
.line_triangle {
    position: relative;
    border-bottom: 2px solid #000;
    background: lightcoral;
    text-align: center;
    padding: 30px 0 10px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.line_triangle::before {
    content: "";
    position: absolute;
    border: 35px solid transparent;
    border-top: 35px solid #fff;
    z-index: 5;
    left: 43.1%;
    bottom: -68px;
    z-index: 5;
}

.line_triangle::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: solid 2px #000;
    border-top-width: 0;
    border-right-width: 0;
    transform: rotate(315deg);
    bottom: -25px;
    left: 45%;
}


/*下三角*/
// .line_triangle::before {
//     content: '';
//     position: absolute;
//     bottom: -44px;
//     left: 50%;
//     margin-left: -2px;
//     border: 22px solid transparent;
//     border-top: 22px solid #fff;
//     z-index: 2;
// }
// .line_triangle::after {
//     content: '';
//     position: absolute;
//     left: 50%;
//     bottom: -25px;
//     border: 24px solid red;
//     border-top-color: #000;
//     border-bottom-width: 0;
//     z-index: 1;
// }


// --- 直線の中央だけ三角矢印ここまで---

.maru {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.circle-01 {
    width: 20.5rem;
    height: 20.5rem;
    border-radius: 50%;
    border: solid 2px #ccc;
}

.circle {
    width: 20.5rem;
    height: 20.5rem;
    border-radius: 50%;
    border: solid 2px #ccc;
    background-color: lightseagreen;
    display: grid;
    place-items: center;
    position: relative;

    .circle__image {
        width: 15.6rem;
    }

    &::before {
        position: absolute;
        content: "";
        height: 20rem;
        width: .2rem;
        background-color: #20b2aa;
        top: -20rem;
        z-index: -1;

        @include mq(tb) {
            content: none;
        }
    }

    &::after {
        position: absolute;
        content: "";
        height: 20rem;
        width: .2rem;
        background-color: rgb(168, 96, 159);
        top: 0;
        right: -10rem;
        transform: rotate(90deg);
        z-index: -1;

        @include mq(tb) {
            content: none;
        }
    }
}

.note_contents {
    display: flex;
    justify-content: flex-start;
    border: solid 2px $blue;
    padding: 2.18rem 3.9rem 3.22rem 5.02rem;

    @include mq(tb) {
        display: none;
    }
}

.note__img {
    width: 274px;
    margin-left: -35px;

    @include mq(pc) {
        width: 27.4rem;
    }
}

.note {
    border-bottom: solid 1px #ccc;
    line-height: calc(54 / 25);
    font-size: 25px;

    @include mq(pc) {
        font-size: 2.5rem;
    }
}

.note__line-01 {
    width: 1145px;

    @include mq(pc) {
        // width: 77.4%;
        width: 114.5rem;
    }
}

.note__line-02 {
    width: 1108px;

    @include mq(pc) {
        // width: 74.9%;
        width: 110.8rem;
    }
}

.note__line-03 {
    width: 1077px;

    @include mq(pc) {
        // width: 72.8%;
        width: 107.7rem;
    }
}

.note__line-04 {
    width: 1040px;

    @include mq(pc) {
        // width: 70.3%;
        width: 104rem;
    }
}

.note__line-05 {
    width: 1000px;

    @include mq(pc) {
        // width: 67.6%;
        width: 100rem;
    }
}

.note__line-06 {
    width: 948px;
    vertical-align: middle;

    @include mq(pc) {
        // width: 94.1%;
        width: 94.8rem;
    }
}

.note__line-06-span {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    vertical-align: middle;
    width: 414px;
    margin-left: 140px;

    @include mq(pc) {
        font-size: 1.2rem;
        width: 41.4rem;
        margin-left: 14rem;
    }
}

.sp-note__contents {

    @include mq(pc) {
        display: none;
        width: 100%;
        background: #fff;
        border: solid 1px $blue;
        padding: 20px 10px;
    }

    @include mq(tb) {
        display: block;
        width: 100%;
        background: #fff;
        border: solid 1px $blue;
        padding: 20px 10px;
    }

    .sp-note__contents-title {
        font-size: 1.8rem;
        font-weight: 700;
        color: $blue;
        text-align: center;
    }

    .sp-note__wrapper {
        margin-top: 23px;
        background: #fff;
        background-image: linear-gradient(180deg, #ccc 1px, transparent 1px);
        /* 罫線の色と太さ  */
        background-size: 100% 2.5em;
        /* 行の高さ */
        line-height: 2.5em;
        /* 文字の高さ */
        padding-bottom: 1px;
        /* 最終行の下にも罫線を引く */
    }

    .sp-note__wrapper-annotation {
        font-size: 1.1rem;
        letter-spacing: .1em;
        text-indent: 1em;
    }
}


.zone_wrapper {
    width: 60rem;
    height: auto;
    margin: 3rem auto;

    @include mq(tb) {
        width: 100%;
    }
}

.zone_wrapper .flex {
    justify-content: flex-start;
    gap: 3.05rem;

    @include mq(tb) {
        gap: 1.6rem;
    }
}

.zone_heading {
    font-family: "ofelia-text", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
    line-height: 1.6;
    background-color: rgba(237, 101, 45, 0.3);
    color: #4172CE;
    width: 138px;
    display: grid;
    place-items: end;
    align-items: center;
    border-radius: 50vh 0 0 0;
    height: 75px;
    padding-right: 10px;

    @include mq(pc) {
        font-size: 2.5rem;
        width: 13.8rem;
        height: 7.5rem;
    }

    @include mq(tb) {
        font-size: 1.2rem;
        width: 7.3rem;
        height: 4rem;
    }
}

/*リボンの種類*/
.ribbon_pattern {
    text-align: center;

    .contents_title {
        text-align: left;
    }
}

.ribbon_01 {
    display: inline-block;
    position: relative;
    background: lightcoral;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 20px;
}

.ribbon_01::before,
.ribbon_01::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

.ribbon_01::before {
    right: 0;
    bottom: -20px;
    border-style: solid;
    border-color: transparent transparent transparent #2F4F4F;
    border-width: 0 0 20px 100px;
}

.ribbon_02-wrapper {
    display: block;
    position: relative;
    margin: 50px auto;
    padding: 10px 0;
    width: 300px;
    background: #f1f1f1;
    text-align: center;
}

.ribbon02 {
    display: inline-block;
    position: absolute;
    top: -20px;
    left: 10px;
    margin: 0;
    padding: 3px 0 12px;
    width: 40px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    background-color: #20b2aa;
}

.ribbon02::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 20px solid #20b2aa;
    border-right: 20px solid #20b2aa;
    border-bottom: 10px solid transparent;
}

.ribbon_03-wrapper {
    margin: 5rem auto;
}

.ribbon_03 {
    display: inline-block;
    position: relative;
    background: lightcoral;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 20px;
    width: 300px;
}

.ribbon_03::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    border-style: solid;
    border-color: #CECECE transparent transparent transparent;
    border-width: 1.6rem 0 0 2rem;
    transform: skew(6.045rad);
    z-index: -1;
}





.border_wrapper {
    margin-inline: auto;
    border: solid 2px #20b2aa;
    max-width: 800px;
}

.border_img-wrapper {
    // width: 800px;
    height: 500px;
    background-image: url(/images/office-pc.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 10px red;

}