@use '../global/' as *;

// --- cssアニメーション ---
/*背景画像をズームしながらフェードインで切り替え*/
// https://gorigoricode.com/css-slideshow/


.css__slide-wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.css__slide {
    position: relative;
    /*この記述がポイント*/
    width: 100%;
    height: 400px;
    overflow: hidden;
    /*この記述がポイント　画像がズームした時に、はみ出した部分を隠す為*/
}

.css__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slider-1 24s linear infinite;
}

.css__img:nth-child(1) {
    background-image: url(/images/img1.jpg);
    animation-delay: -2s;
}

.css__img:nth-child(2) {
    background-image: url(/images/img2.jpg);
    animation-delay: 6s;
}

.css__img:nth-child(3) {
    background-image: url(/images/img3.jpg);
    animation-delay: 14s;
}

/*keyframesの指定 任意の変数slider-1*/
@keyframes slider-1 {

    /* 非表示状態からフェードインを開始する */
    0% {
        opacity: 0;
        transform: scale(1);
        /* ズームのための指定 */
    }

    /* フェードインを完了し完全表示する */
    4.16% {
        opacity: 1;
    }

    /* ここまで完全表示を維持したらフェードアウトを開始する */
    33.33% {
        opacity: 1;
    }

    /* フェードアウトを完了し非表示にする */
    41.66% {
        opacity: 0;
        transform: scale(1.2);
        /* ズームのための指定 */
    }

    100% {
        opacity: 0;
    }
}