@use '../global/' as *;

#header {
    width: 100%;
    height: 100px;
    background-color: lavenderblush;

    .header__inner {
        padding-left:$padding_pc;
        padding-right:$padding_pc;
        background-color: #ccc;
        align-items: center;
        height: 100%;//←大事。headerの高さに合わせる
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}