@use '../global/' as *;

.pie-graph {
    margin-top: 50px;
    text-align: center;
}

.pie__outside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 300px;

    position: relative;

    &::before {

        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 93%;
        height: 93%;
        border-radius: 50%;
        background-image: conic-gradient(#4076B7 0% 15%, rgba(64, 118, 183, .7) 15% 45%, rgba(64, 118, 183, .5) 45% 71%, #70C4D5 71% 100%);
        z-index: 3;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-image: radial-gradient(#fff 65%, transparent 66%), conic-gradient(#FFEE00 0% 71%, transparent 71% 100%);
        z-index: -1;
    }
}

.pie__text {
    line-height: 1;
    font-size: 26px;
    font-weight: 700;
    position: relative;
    z-index: 5;
    background-color: #fff;
    border-radius: 50%;
    width: 160.6px;
    height: 160.6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pie__textArea {
    width: 300px;
    margin: 10px auto;
    display: inline-block;
    position: relative;

    .kakko {
        position: absolute;
        top: 50%;
        left: 60%;
        font-size: 16px;
    }
}

.kakko_01 {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        display: inline-block;
        border: solid 2px #000;
        border-left: none;
        width: 10px;
        height:50px;
        top: 80%;
        left: -20%;
    }
}

.pie__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8.6px;
    font-size: 14px;
    font-weight: 500;
}

.square {
    width: 26.14px;
    height: 14.88px;
}

.pie__item-color01 {
    background-color: #4076B7;
}

.pie__item-color02 {
    background-color: rgba(64, 118, 183, .7);
}

.pie__item-color03 {
    background-color: rgba(64, 118, 183, .5);
}

.pie__item-color04 {
    background-color: #70C4D5;
}

.pie__item-color05 {
    background-color: #DBDCDB;
}

.pie__item-color06 {
    background-color: #B0B0B1;
}

.pie__item-color07 {
    background-color: #848585;
}

.kakko {
    position: absolute;
}